/*
    DEMO STYLE
*/
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    text-indent: 2em;
    line-height: 1.7em;
    color: #000;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 1em;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbarTop{
    /*background: #2E8B57;*/
    /*background:#1a4c0c;*/
    background-image: linear-gradient(-90deg, #1a4c0c, #fff);
    margin-bottom: 1em;
    min-height: 90px;
}

#logoUNEMAT img {
    display: inline-block;
    align-content: center;
    max-width: 54%;
    height: auto;
}

.navbarCenter {
    border: 0.5em;
    border-color: #e7e7e7;
    border-radius: 0.1em;
    background: #3CB371;
    color: #fff;
    font-size: larger;
    padding: 0.5em;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #3CB371;
    background-color: #FFF
}

.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    color: #3CB371;
    background-color: #FFF
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

.container-fluid {
    width: 100%;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /*background: #7386D5;*/
    /*background: #2E8B57;*/
    background: #33552c;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 1rem;
    /*    background: #1a4c0c;*/
    background: #ffffff;
    min-height: 90px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2em;
    display: block;
}

#sidebar .submenu {
    font-size: 1em;
}

#sidebar.active .submenu{
    font-size: 0.7em;
}
#sidebar ul li a:hover {
    /*color: #3CB371;*/
    /*background: #fff;*/
    color: #FFF;
    background: #59964d;
}

#sidebar ul li ul li a:hover {
    background: #fff;
    color: #33552c;
}

.navbar-toggle {
    border: 1px solid #fff;
    margin: 0.3em 1.5em 0.2em 1.5em;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    margin: 0 1.5em 0.2em 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-toggle>span:hover{
    color: #3CB371;
    background: #fff;
}

.navbar-default .navbar-text{
    /*color: #fff;*/
    color: #1a4c0c;
    font-size: 3rem;
    padding: 0.5em 1em 0 0;
    margin: 0;
    /*padding: 1em 0.5em 1em 0.5em;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebarCollapse {
    float: left;
}

#loginCollapse{
    float: right;
}

.navbar-header>button>span{
    color: #fff;
}

#signIN {
    color: #fff;
    font-size: 1.5em;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    /*background: #3CB371;*/
    background: #59964d;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f105';
    display: block;
    /*position: absolute;*/
    position: relative;
    /*right: 20px;*/
    float: right;
    font-family: 'FontAwesome';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\f107';
}


ul ul a {
    /*font-size: 0.9em !important;*/
    padding-left: 30px !important;
    /*        background: #6d7fcc;
             background: #3CB371;*/
    background: #59964d;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #3CB371;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    TABS
----------------------------------------------------- */
.nav-pills.nav-wizard > li {
    position: relative;
    overflow: visible;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

.nav-pills.nav-wizard > li + li {
    margin-left: 0;
}

.nav-pills.nav-wizard > li:first-child {
    border-left: 0;
}

.nav-pills.nav-wizard > li:first-child a {
    border-radius: 5px 0 0 5px;
}

.nav-pills.nav-wizard > li:last-child {
    border-right: 0;
}

.nav-pills.nav-wizard > li:last-child a {
    border-radius: 0 5px 5px 0;
}

.nav-pills.nav-wizard > li a {
    border-radius: 0;
    background-color: #ccc;
    color: black;
}

.nav-pills.nav-wizard > .active a {
    background-color: #aaa !important;
    /*background-color: #428bca;*/
    color: black !important;
    font-weight: bold !important;
}

.nav-pills.nav-wizard > li:not(:last-child) a:after {
    position: absolute;
    content: "";
    top: 0px;
    right: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ccc;
    z-index: 150;
}

.nav-pills.nav-wizard > li:not(:first-child) a:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: #ccc #ccc #ccc transparent;
    z-index: 150;
}

.nav-pills.nav-wizard > li:hover:not(:last-child) a:after {
    border-color: transparent transparent transparent #aaa;
}

.nav-pills.nav-wizard > li:hover:not(:first-child) a:before {
    border-color: #aaa #aaa #aaa transparent;
}

.nav-pills.nav-wizard > li:hover a {
    background-color: #aaa;
    color: black;
    font-weight: bold;
}

.nav-pills.nav-wizard > li.active:not(:last-child) a:after {
    border-color: transparent transparent transparent #aaa !important;
}

.nav-pills.nav-wizard > li.active:not(:first-child) a:before {
    border-color: #aaa #aaa #aaa transparent !important;
}

.btnNext {
    float: right;
}

.btnPrevious {
    float: left;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

button {
    overflow: hidden;
}

#content {
    padding: 2em;
    min-height: 100vh;
    transition: all 0.3s;
}

#loader {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
}

.loading,
.loading:before,
.loading:after {
    background: #001f3e;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loading {
    color: #001f3e;
    text-indent: -9999em;
    /*margin: 88px auto;*/
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loading:before,
.loading:after {
    position: absolute;
    top: 0;
    content: '';
}
.loading:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loading:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.panel-body {
    padding: 0.3em;
}

.panel {
    margin-bottom: 0px;
}

.panelForm {
    margin-bottom: 0px;
}

.labelNameFile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.well-lg {
    padding: 1em;
}

.list-group {
    margin-bottom: 0;
}

.input-group label {
    font-weight: normal;
}

#firstNews {
    padding: 0 0.5em 0.5em 0;
}

#firstNews .carousel-caption{
    margin: 0 0.5em 0.5em 0;
}

#secondNews {
    padding: 0 0 0.5em 0;
}

#thirdNews {
    padding: 0;
}

#secondNews .carousel-caption{
    margin: 0 0 0.5em 0;
}

#cbbusca {
    width: 100%;
}

.select2 .selection {
    width: 100%;
}

.select2 .select2-selection {
    height: 2.5em;
}

.showPDF {
    width: 100%;
    height: 50em;
}

/*Voucher Field Show*/
#liVoucher {
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
}

#divWifiIndex, .panel {
    margin: 0 0 1em 0;
}

#nameUsr {
    font-size: large;
    color: #fff;
}

.navbar-nav>li>a{
    padding: 0.5em 1em 0.5em 1em;
}

.dropDownLogin {
    background-color: transparent;
    font-size: large;
    color: black;
}

#panelBanners blockquote, #panelEventos blockquote{
    margin-bottom: 0.3em;
    background: #2E8B57;
    color: #fff;
}

#panelBanners, #panelEventos {
    margin-bottom: 0.5em;
}

#divWifiIndex a{
    background: #2E8B57;
    color: #fff;
}

.navbar-left h2, .navbar-left a {
    color: #fff;
}

.listInfo {
    padding: 0 0 1em 1em;
    max-width: 25em;
}

#attchGrid{
    font-size: 0.8em;
}

.badge {
    display: inline;
    line-height: 1.5;
}

.logomarcaVerdeColor {
    color: #33552c;
}

.BQTReservas {
    padding: 1px 20px;
}

.reservasListMat {
    background-color: #17a2b82b;
}

.reservasListVesp {
    background-color: #fdf59a5c;
}

.reservasListNot {
    background-color: #aaaaaa42;
}

.datepicker-inline {
    width: 100%;
}

.datepicker-inline .table-condensed {
    width: 100%;
}

#divResHorarios .checkbox {
    padding-bottom: .5em;
    font-size: 1.7rem;
}

.b-05 {
    border-left: 0.3px solid;
    border-right: 0.3px solid;
}

.table-striped {
    background-color: #e6e6e6;
}

.table-striped th {
    background-color: #9a9a9a;
    color: #fff;
}

.modal-body {
    max-height: calc(100vh - 212px);
    overflow-y: auto;
}

.progress {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 90%;
}

#divHorariosReserva {
    line-height: 3.3rem;
}

#divProcessaReserva .panel-heading {
    background-color: #fff;
}

#divProcessaReserva .panel-heading a{
    background: #fff;
}
#divProcessaReserva .panel-heading a[aria-expanded="true"] {
    color: black;
    font-weight: bold;
}

#divProcessaReserva .checkbox label::after{
    padding-top: 0;
    margin-top: -7px;
}

.destakPanel{
    box-shadow: 2px 2px red !important;
}
/* ---------------------------------------------------
    IMG SIZE
----------------------------------------------------- */

.searchSelect2 img{
    height: 7em;
    width: 100%;
}

#listBanners img{
    height: 4em;
    width: 100%;
}

.imgForm {
    height: 15em;
    width: auto;
    align-content: center;
    display: inline-block;
}

#listGallery img{
    height: 8em;
    width: auto;
    align-content: center;
    display: inline-block;
}

#newsBody , #eventsBody{
    padding-right: 1em;
}

#newsBody article, #eventsBody article{
    text-indent: 2em;
    line-height: 1.5;
}

#newsBody img, #newsPreList .newsHighlight img,
#eventsBody img, #eventsPreList img {
    height: 20em;
    width: auto;
    align-content: center;
}

.imgNews {
    max-width: 25em;
    padding: 0 1em 1em 0;
}

.imgInfo {
    max-width: 25em;
    padding: 0 1em 0 1em;
    display: inline-block;
}

#newsGrid img, #eventsGrid img{
    height: 5em;
    width: auto;
    align-content: center;
}

#placasList img, #projectsPreList img{
    height: 15em;
    width: auto;
    align-content: center;
}

.tz-gallery {
    padding: 0 1em 0 1em ! important;
}

#newsPreList .newsGrid img, #eventsPreList .newsGrid img{
    height: 7em;
}

#firstNews {
    height: 30.5em;
}

#secondNews, #thirdNews {
    height: 15em;
}

/*#secondNews img, #thirdNews img {
    height: 15em;
}*/

#startNews :before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#startNews img{
    width: auto;
    max-height: 100%;
    align-content: center;
    vertical-align: middle;
    display: inline-block;
}

#imgUsr{
    height: 3.5em;
    width: auto;
}

#imgServidorModal, #imgServidor, .imgModal{
    height: 15em;
    width: auto;
    align-content: center;
    display: inline-block;
}

#imgMain {
    width: 80%;
    display: inline-block;
    align-content: center;
    margin-top: 5em;
    opacity: 0.4;
}

.row .row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
.row .row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row .row-eq-height.row:after,
.row .row-eq-height.row:before {
    display: flex;
}

.row .row-eq-height > [class*='col-'] > .thumbnail,
.row .row-eq-height > [class*='col-'] > .thumbnail > .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.row .row-eq-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
    flex-grow: 1;
}

.imgTuto {
    max-width: 80%;
    max-height: 15em;
    display: inline-block;
    align-content: center;
}

/* ---------------------------------------------------
    CAROUSEL STYLE
----------------------------------------------------- */

#newsCarousel .carousel-caption, #eventosCarousel .carousel-caption,
#gridNews .caption, #startNews .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    padding:0.5em;
    background:rgba(0,0,0,0.6);
    text-shadow:none;
    text-align: center;
    color: #fff;
}

#newsCarouselItens img {
    height: 20em;
    width: 100%;
}

#gridNews img,  #eventosCarouselItens img {
    height: 10em;
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header {
        padding: 1rem;
        min-height: 80px;
    }

    .navbarTop {
        min-height: 80px;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        /*display: none;*/
    }

    #gridNews{
        display: none;
    }
    .navbarCenter {
        padding: 0 0.5em 0 0;
    }

    .navbarCenter .navbar-toggle{
        margin: 0.5em 0.5em 0.3em 0em;
    }

    .navbarCenter .navbar-brand{
        margin: 0.3em 0em 0.3em 0.5em;
    }

    /*    #login-dp a {
            color: #fff;
        }*/

    #imgServidor {
        height: 10em;
    }

    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    #navbarResponsive{
        overflow-y: scroll !important;
        max-height: 25rem !important;
    }
}

@media (min-width: 992px) {
    #divIndexCenter, #conteudo  {padding: 0 0.5em 0 0.5em;}
}

@media (max-width: 991px) {
    #divIndexCenter, #conteudo, #divIndexRight {padding: 0 0.5em 0 0.5em;}
}

@media (max-width: 1024px) {
    .navbar-default .navbar-text{
        font-size: 1.2em;
    }

    #signIN {
        font-size: 1.2em;
    }
}

/* ---------------------------------------------------
    NAVBAR LOGIN
----------------------------------------------------- */

#login-dp{
    min-width: 20em;
    padding: 1em;
    overflow:hidden;
    /*background-color:rgba(255,255,255,.8);*/
    background-color:#fff;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:1em;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 1em;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media (max-width: 790px) {
    #inputSearch {width: 100%}
}

@media (max-width: 1023px) {
    #inputSearch {width: 200px}
}

@media (min-width: 1024px) {
    #inputSearch {width: 400px}
}
@media (min-width: 1280px) {
    #inputSearch {width: 600px}
}

/* Radio */

.btn-group label
{
    padding-left: 0.5em;
}

input[type="radio"]:empty
{
    display: none;
}

input[type="radio"] ~ span:before
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
}

input[type="radio"]:before
{
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input[type="radio"]:checked ~ span:before
{
    content: '\2714';
    text-indent: .3em;
    color: #fff;
    background-color: #5cb85c;
    line-height: 2.5em;
}

