/* Scrolling */

header {
    padding: 120px 0 30px;
}

.headerPg {
    padding: 30px 0 3em;
}

.logoIndex {
    max-width: 100%;
    height: 7rem;
}

#logoCampus {
    width: auto;
    max-height: 7rem;
}

.dropdown-divider {
    margin: .1rem 0;
}

#sectionGraduacao .card, #sectionPosGraduacao .card {
    margin: 0 1em 1em 1em;
}

#sectionSistemas .card {
    margin-bottom: 1em;
}

.btnSections{
    background-color: #33552c;
    color: #FFF;
    font-weight: bold;
}

.btnNews{
    background-color: #33552c;
    color: #FFF;
}
    .cardForm {
    margin: 0;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row .card,
.flex-row .card-body {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
}
.flex-text {
    flex-grow: 1;
}
.flex-row img {
    min-width: 0;
    width: 100%;
}

.barsToggle {
    /*color: #fff;*/
    /*background-color: #fff;*/
    border: 1px solid #fff;
}

.navbar-toggler-icon {
    color: #fff;
}

section {
    padding: 2em 0;
    /*min-height: 30em;*/
}

#sectionAcessoRapido .card-body {
    padding: 1.25rem 0;
}

#sectionAcessoRapido .card, #sectionInstitucional .card  {
    max-width: 12rem;
    /*min-height: 30em;*/
}

#sectionSistemas img {
    max-height: 10em;
    max-width: 10em;
}

#sectionGraduacao img, #sectionPosGraduacao img {
    margin-top: .5em;
    max-height: 15em;
    max-width: 15em;
}

#sectionInstitucional img, #sectionAcessoRapido img {
    height: 12em;
    max-width: 12em;
}

#indexNav {
    min-height: 50px;
    /*background-color: #1a4c0c;*/
    /*background-color: #3CB371;*/
    background-color: #33552c;
}

#indexNav .container {
    padding-left: 0;
    padding-right: 0;
}

.footerIndex {
    /*background-color: #3CB371;*/
    background-color: #33552c;
}

#indexNav a{
    /*color: #1a4c0c;*/
    color: #fff;
    font-size: 1.1rem;
}

#indexNav .dropdown-menu a{
    color: #1a4c0c;
    font-size: medium;
    /*color: black;*/
}

#indexNav .dropdown-header{
    font-size: medium;
    /*color: black;*/
}

#indexNav .dropdown-item.active, #indexNav .dropdown-item:active{
    background-color: #EEEEEE;
}

#indexNav .dropdown-item:hover{
    /*background-color: #f5f5f5;*/
    background-color: rgba(21, 177, 5, 0.20);
}

#indexNav .nav-item > a:hover{
    border-bottom: 1.5px solid #fff;
    padding-bottom: 0;
}

#imgBrasaoNav {
    max-height: 3em;
}

#sectionNoticias {
    background-color: #fff;
    /*background-color: #E3F2FD;*/
}

#sectionGraduacao {
    background-color: #eee;
    /*background-color: #fff;*/
}

#sectionAgenda {
    background-color: #fff;
    /*background-color: #E3F2FD;*/
}

#sectionAgenda iframe{
    width: 100%;
    height: 450px;
}

#sectionEventos {
    background-color: #eee;
    /*background-color: #E3F2FD;*/
}

#sectionSistemas {
    /*background-color: #fff;*/
    background-color: #fff;
}

#sectionContact {
    background-color: #eee;
    /*background-color: #E3F2FD;*/
}

.titlePg .card-header {
    background-color: #E3F2FD;
    padding: 1rem 1.25rem;
    border-radius: .75em;
}

.bootstrap-select button {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
}

#sectionFaculdades .card {
    margin-bottom: 1em;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.dropdown-toggle::before {
    display: none !important;
}

.datepicker-inline {
    width: 100%;
}

.datepicker-inline .table-condensed {
    width: 100%;
}

.custom-control-label::before {
    background-color: dimgray;
}
/*Carousel*/

#carouselUniversidade img {
    max-height: 25rem;
    margin: 0 auto;
}

/* Scrolling */

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    /*text-indent: 2em;*/
    line-height: 1.7em;
    color: #000;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbarTop{
    /*background: #2E8B57;*/
    background:#1a4c0c;
    margin-bottom: 1em;
    min-height: 90px;
}

.navbarCenter {
    border: 0.5em;
    border-color: #e7e7e7;
    border-radius: 0.1em;
    background: #153755;
    /*background: #55cac1;*/
color: #fff;
    padding: 0.5em;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #55cac1;
    /*color: #153755;*/
    background-color: #FFF
}

.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    /*color: #55cac1;*/
    color: #153755;
    background-color: #FFF
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

.container-fluid {
    width: 100%;
}

.navbar-toggle {
    border: 1px solid #fff;
    margin: 0.3em 1.5em 0.2em 1.5em;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    margin: 0 1.5em 0.2em 0;
}

#loginCollapse{
    float: right;
}

.navbar-header>button>span{
    color: #fff;
}

#signIN {
    color: #fff;
    font-size: 1.5em;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f105';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\f107';
}


ul ul a {
    /*font-size: 0.9em !important;
    padding-left: 30px !important;
    /*    background: #6d7fcc;
    */    background: #3CB371;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #3CB371;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    IFRAME STYLE
----------------------------------------------------- */

.videoWrapper {
	position: relative;
	padding-top: 56.25%; /* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ---------------------------------------------------
    IFRAME STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 2em;
    min-height: 100vh;
    transition: all 0.3s;
}

#loader {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
}

.loading,
.loading:before,
.loading:after {
    background: #001f3e;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loading {
    color: #001f3e;
    text-indent: -9999em;
    /*margin: 88px auto;*/
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loading:before,
.loading:after {
    position: absolute;
    top: 0;
    content: '';
}
.loading:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loading:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

/*.loading {
    border: 1em solid #f3f3f3;  Light grey
    border-top: 1em solid #1a4c0c;  Verde
    border-top: 1em solid #00214a;  Azul
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
}*/

/*@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

.panel-body {
    padding: 0.3em;
}

.panel {
    margin-bottom: 0px;
}

.panelForm {
    margin-bottom: 0px;
}

.labelNameFile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.well-lg {
    padding: 1em;
}

.list-group {
    margin-bottom: 0;
}

.input-group label {
    font-weight: normal;
}

#firstNews {
    padding: 0 0.5em 0.5em 0;
}

#firstNews .carousel-caption{
    margin: 0 0.5em 0.5em 0;
}

#secondNews {
    padding: 0 0 0.5em 0;
}

#thirdNews {
    padding: 0;
}

#secondNews .carousel-caption{
    margin: 0 0 0.5em 0;
}

#cbbusca {
    width: 100%;
}

.select2 .selection {
    width: 100%;
}

.select2 .select2-selection {
    height: 2.5em;
}

.showPDF {
    width: 100%;
    height: 50em;
}

/*Voucher Field Show*/
#liVoucher {
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
}

#divWifiIndex, .panel {
    margin: 0 0 1em 0;
}

#nameUsr {
    font-size: medium;
    color: #fff;
}

.navbar-nav>li>a{
    padding: 0.5em 1em 0.5em 1em;
}

.dropDownLogin {
    background-color: transparent;
    font-size: large;
    color: black;
}

#panelBanners blockquote, #panelEventos blockquote{
    margin-bottom: 0.3em;
    background: #2E8B57;
    color: #fff;
}

#panelBanners, #panelEventos {
    margin-bottom: 0.5em;
}

#divWifiIndex a{
    background: #2E8B57;
    color: #fff;
}

.navbar-left h2, .navbar-left a {
    color: #fff;
}

.listInfo {
    padding: 0 0 1em 1em;
    max-width: 25em;
}

#attchGrid{
    font-size: 0.8em;
}

.badge {
    display: inline;
    line-height: 1.5;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5CB85C38;
    color: black;
}

.blockquote {
    border-left: solid #aaa;
    padding: .5em;
}

.modal-header {
    display: block;
}

.iconShare {
    font-size: 1.5em;
}

.whatsappIcon {
    color: #00a859;
}

.facebookIcon {
    color: #3a589b;
}

.twitterIcon {
    color: #598dca;
}

.youtubeIcon {
    color: #ff0000;
}

.telegramIcon {
    color: #148ad9;
}

.instagramIcon {
    color: #E4405F;
}

#tittleCampus {
    font-size: 1.2rem;
    line-height: 1.4;
}

.logomarcaVerdeColor {
    color: #33552c;
}

.reservasListMat {
    background-color: #17a2b82b;
}

.reservasListVesp {
    background-color: #fdf59a5c;
}

.reservasListNot {
    background-color: #aaaaaa42;
}

.reservasListMatHead {
    background-color: #17a2b89c;
}

.reservasListVespHead {
    background-color: #fdf59ade;
}

.reservasListNotHead {
    background-color: #aaaaaaf2;
}
/* ---------------------------------------------------
    IMG SIZE
----------------------------------------------------- */

.searchSelect2 img{
    height: 7em;
    width: 100%;
}

#listBanners img{
    height: 4em;
    width: 100%;
}

.imgForm {
    height: 15em;
    width: auto;
    align-content: center;
    display: inline-block;
}

#listGallery img{
    height: 8em;
    width: auto;
    align-content: center;
    display: inline-block;
}

#newsBody , #eventsBody{
    padding-right: 1em;
}

#newsBody article, #eventsBody article, .text-indented{
    text-indent: 2em;
    line-height: 1.5;
}

#newsBody img, #newsPreList .newsHighlight img,
#eventsBody img{
    height: 20em;
    /*width: auto;*/
    max-width: 100%;
    align-content: center;
}

.imgNews {
    max-width: 25em;
    padding: 0 1em 1em 0;
}

#divHome img {
    max-width: 100%;
}

#divHome li {
    font-size: .8rem;
}

.imgInfo {
    max-width: 25em;
    padding: 0 1em 0 1em;
    display: inline-block;
}

#projectsPreList img{
    height: 10em;
    width: 100%;
}

#placasList img {
    height: 10em;
    width: 100%;
}

.nameTurmaPlaca{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(227, 242, 253);
}

.tz-gallery {
    padding: 0 1em 0 1em ! important;
}

.imgNewsTop{
    /*height: 20em;*/
    /*height: auto;*/
    max-width: 100%;
    max-height: 100%;
}

.imgNewsGrid{
    /*height: auto;*/
    max-width: 100%;
    max-height: 100%;
    /*    align-content: center;
        display: inline-block;*/
}

#newsGrid .card-body{
    padding: 1em .25em 0 .25em;
}

#newsGrid > [class*='col-']{
    margin-bottom: 1em;
}

#imgUsr{
    max-height: 2em;
    width: auto;
}

#imgServidorModal, #imgServidor, .imgModal{
    height: auto;
    width: 100%;
    align-content: center;
    display: inline-block;
}

#imgMain {
    width: 80%;
    display: inline-block;
    align-content: center;
    margin-top: 5em;
    opacity: 0.4;
}

.row .row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
.row .row-eq-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row .row-eq-height.row:after,
.row .row-eq-height.row:before {
    display: flex;
}

.row .row-eq-height > [class*='col-'] > .thumbnail,
.row .row-eq-height > [class*='col-'] > .thumbnail > .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.row .row-eq-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
    flex-grow: 1;
}

.imgTuto {
    max-width: 80%;
    max-height: 15em;
    display: inline-block;
    align-content: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 992px) {
    /*#divIndexCenter, #conteudo  {padding: 0 0.5em 0 0.5em;}*/
    .navbarCenter {
        font-size: larger;
    }
}

@media (max-width: 1024px) {
    .navbar-default .navbar-text{
        font-size: 1.2em;
    }

    #signIN {
        font-size: 1.2em;
    }

    #tittleCampus {
        font-size: 1rem;
    }
    
    .nav-link {
        font-size: .9rem;
    }

}

@media (max-width: 991px) {
    /*#divIndexCenter, #conteudo, #divIndexRight {padding: 0 0.5em 0 0.5em;}*/
}

@media (min-width: 767px) {
    .titlePgPosition {
        position: absolute;
    }
}

@media (max-width: 768px) {

    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header {
        padding: 1em 1em 0.5em 1em;
        min-height: 80px;
    }

    .navbarTop {
        min-height: 80px;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        /*display: none;*/
    }

    #gridNews{
        display: none;
    }
    .navbarCenter {
        padding: 0 0.5em 0 0;
    }

    .navbarCenter .navbar-toggle{
        margin: 0.5em 0.5em 0.3em 0em;
    }

    .navbarCenter .navbar-brand{
        margin: 0.3em 0em 0.3em 0.5em;
    }

    /*    #login-dp a {
            color: #fff;
        }*/

    #imgServidor {
        height: 10em;
    }

    .imgInfo {
        max-width: 100%;
    }

    #navbarResponsive{
        overflow-y: scroll !important;
        /*max-height: 25rem !important;*/
        max-height: 30rem !important;
    }

    #indexNav .dropdown-menu a{
        overflow: scroll;
    }
    #tittleCampus {
        font-size: 0.8rem;
    }
}


/* ---------------------------------------------------
    NAVBAR LOGIN
----------------------------------------------------- */

#login-dp{
    min-width: 15em;
    padding-top: 1em;
    overflow:hidden;
    right: 0;
    left: auto;
}

#login-dp .btn{
    /*background-color: #3CB371;*/
    background-color: #33552c;
    color: #fff;
    font-weight: bold;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media (max-width: 790px) {
    #inputSearch {width: 100%}
}

@media (max-width: 1023px) {
    #inputSearch {width: 200px}
}

@media (min-width: 1024px) {
    #inputSearch {width: 400px}
}
@media (min-width: 1280px) {
    #inputSearch {width: 600px}
}

/* Radio */

.btn-group label
{
    padding-left: 0.5em;
}

input[type="radio"]:empty
{
    display: none;
}

input[type="radio"] ~ span:before
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
}

input[type="radio"]:before
{
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input[type="radio"]:checked ~ span:before
{
    content: '\2714';
    text-indent: .3em;
    color: #fff;
    background-color: #5cb85c;
    line-height: 2.5em;
}

